<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name='description', content='')
    link(rel='stylesheet', href='css/style.css')
    title Belpromstandart | Sign Up
  body
    .wrap
      .signup-box
        .head
          h1.head__text Sign Up
        .form-wrap
          h2.title New User?
          p.subtitle Use the form below to create your account.
          form.signup-form(method="POST", action="", id="signup-form", required)
            .signup-form__group
              .signup-form__input-wrap
                label.signup-form__label(for="firstname") First Name
                input.signup-form__input(type="text", name="firstname", pattern="[А-Яа-яЁёA-Za-z\w]+", placeholder=" ", title="Enter first name", required)
              .signup-form__input-wrap
                label.signup-form__label(for="lastname") Last Name
                input.signup-form__input(type="text", name="lastname")
              .signup-form__input-wrap
                label.signup-form__label(for="nationality") Nationality
                select.signup-form__sel-nation(name="nationality")
                  option.signup-form__sel-option(value="1", selected) American
                  option.signup-form__sel-option(value="2") German
                  option.signup-form__sel-option(value="3") French
                  option.signup-form__sel-option(value="4") Russian
              .signup-form__input-wrap
                label.signup-form__label(for="email") E-mail
                input.signup-form__input(type="email", name="email", placeholder=" ", pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$", required)
              .signup-form__input-wrap
                label.signup-form__label(for="dateofbirth") Date of Birth
                input.signup-form__input(type="text", name="dateofbirth")
              .signup-form__input-wrap
                label.signup-form__label(for="gender") Gender
                input.signup-form__input(type="text", name="nationality")
              .signup-form__input-wrap
                label.signup-form__label(for="password") Password
                input.signup-form__input(type="password", name="password", pattern=".{8,}", placeholder=" ", required)
              .signup-form__input-wrap
                label.signup-form__label(for="password-confirm") Password Confirm
                input.signup-form__input(type="password", name="password-confirm", pattern=".{8,}", placeholder=" ", required)
            .signup-form__submit-wrap
              p.signup-form__login Have an account? #[a(href="#", role="button") Login]
              input.signup-form__submit(type="submit", value="Complete Signup")


    script(src='js/script.min.js')