<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name='description', content='')
    link(rel='stylesheet', href='css/style.css')
    title Belpromstandart | Sign Up
  body
    .signup-box
      .title
        h1.title__text Sign Up
      .form-wrap
          h2.signup-form__title New User?
          p.sign-up__subtitle Use the form below to create your account.
          form.signup-form

    script(src='js/script.min.js')