$main-color:          #5a61ed;
$warning-color:       #FF2222;

$gray-form:           #f2f2f2;
$gray-light:          #7c7c7c;
$gray-dark:           #111;

$text-color:          $gray-dark;

$font-family:         'Work Sans', 'Arial', sans-serif;
$font-size:           14px;
$line-height:         1.4;

$screen-xs:           480px;
$screen-sm:           768px;
$screen-md:           992px;
$screen-lg:           1200px;
